.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.justify-content-center {
  justify-content: center !important;
}

.kckSGi {
  position: relative;
}

.slick-list,
.slick-slider {
  position: relative;
  display: block;
}

.kckSGi .slick-arrow.slick-prev {
  left: 0px;
}

.kckSGi .slick-arrow {
  position: absolute;
  top: 50%;
  font-size: 0px;
  height: 65px;
  display: flex;
  width: 65px;
  background: rgb(84, 84, 212) none repeat scroll 0% 0%;
  transition: all 0.4s ease 0s;
  border-radius: 500px;
  transform: translate(-50%, -50%);
  z-index: 999;
  margin-top: -20px;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.kckSGi .slick-arrow.slick-next {
  right: 0px;
  left: auto;
  transform: translate(50%, -50%);
}

.kckSGi .slick-arrow {
  position: absolute;
  top: 50%;
  font-size: 0px;
  height: 65px;
  display: flex;
  width: 65px;
  background: rgb(84, 84, 212) none repeat scroll 0% 0%;
  transition: all 0.4s ease 0s;
  border-radius: 500px;
  transform: translate(-50%, -50%);
  z-index: 999;
  margin-top: -20px;
}
