.guuFEz {
  padding-bottom: 100px;
  padding-top: 0px;
}

.dkkimO {
  box-sizing: border-box;
  min-width: 0px;
  background-color: rgb(242, 242, 243);
}

.eVvLWs {
  box-sizing: border-box;
  min-width: 0px;
  box-shadow: rgba(65, 62, 101, 0.176) 0px 52px 54px;
  border-radius: 10px;
  background-color: rgb(65, 62, 101);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 50px;
}

.bMJJPf {
  font-weight: 700;
  letter-spacing: -0.66px;
  line-height: 28px;
  color: rgb(255, 255, 255);
  margin-bottom: 16px;
  font-size: 24px;
}

.ivZwsh {
  margin-bottom: 0px;
  font-weight: 300;
  letter-spacing: -0.66px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 18px;
  line-height: 28px;
}

.cHtlfd {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  box-sizing: border-box;
  min-width: 0px;
}

.bMJJPf {
  font-weight: 700;
  letter-spacing: -0.66px;
  line-height: 28px;
  color: rgb(255, 255, 255);
  margin-bottom: 16px;
  font-size: 24px;
}
